<mat-toolbar color="primary">
  <a routerLink="/list">
    <button mat-icon-button>
      <mat-icon>home</mat-icon>
    </button>
  </a>

  <span>Angular Recipes</span>


  <!-- <span>{{dataServ.selectedCategory}}</span> -->

  <span class="spacer"></span>

  <div>

    <mat-form-field *ngIf="!dataServ.hideSelect">
      <mat-label>Filter by category</mat-label>
      <mat-select [(value)]="dataServ.selectedCategory" (valueChange)="dataServ.categoryChanged()">
        <mat-option value="-1">
        Tutti
        </mat-option>
       <mat-option value="{{element[1]}}" *ngFor="let element of categories">
        {{element[0]}}
       </mat-option>
      </mat-select>
    </mat-form-field>


  </div>

    <button routerLink="/favorites" mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>

  <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

